
Imagenes doc/SIN NADA/__pycache__/Normalización.cpython-37.pyc
Imagenes doc/__pycache__/normalizacióndecontrastelocal.cpython-37.pyc
Imagenes doc/SIN NADA/WL_00485.jpg
Imagenes doc/SIN NADA/TodasNorm.PNG
Imagenes doc/SIN NADA/__pycache__/readimg.cpython-37.pyc
Imagenes doc/SIN NADA/__pycache__/normalizacióndecontrastelocal.cpython-37.pyc
Imagenes doc/__pycache__/Normalización.cpython-37.pyc
